<div id="__nuxt">
  <div id="__layout">
    <div class="flex flex-col font-sans">
      <div class="fixed left-0 bottom-0 z-102 flex flex-col">
        <div class="flex flex-col">
        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <a aria-label="Skip to main content" href="https://quizizz.com/admin#app-body-container" class="skip-link">
        <span class="_i18n-container">Chuyển đến nội dung</span>
      </a>
      <div class="flex flex-grow h-screen">
        <app-sidebar></app-sidebar>
        <div class="flex flex-col flex-grow w-full h-screen overflow-hidden border-l border-light-1">
          <app-header></app-header>
          <div id="app-body-container" class="flex flex-grow overflow-auto Scontent overflow-auto">
            <div data-v-470c518d="" class="w-full">
              <div data-v-470c518d="" class="w-full">
                <div class = "title"><h1>Quiz du lich</h1></div>
                <div class = "quiz-list-container container-fluid">
                  <div class="quiz-card-row">
                    <div class="card quiz-card-item text-white bg-primary col-3" style="max-width: 18rem;">
                      <div class="card-header">Header</div>
                      <div class="card-body">
                        <div class="card-item-image">
                          <img src="../../../assets/images/quiz-img-test.jfif" style="margin-bottom: 0.5rem;">
                        </div>
                        <div class = "card-content">
                          <h5 class="card-title">Primary card title Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis dolor ullam, obcaecati ipsam facilis aperiam. Dignissimos, impedit corporis? Nam, quas! Animi quis quaerat perferendis hic, numquam sed voluptates totam? Optio.</h5>
                          <hr>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card quiz-card-item text-white bg-secondary col-3" style="max-width: 18rem;">
                      <div class="card-header">Header</div>
                      <div class="card-body">
                        <div class="card-item-image">
                          <img src="../../../assets/images/quiz-img-test.jfif" style="margin-bottom: 0.5rem;">
                        </div>
                        <div class = "card-content">
                          <h5 class="card-title">Secondary card title</h5>
                          <hr>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card quiz-card-item text-white bg-success col-3" style="max-width: 18rem;">
                      <div class="card-header">Header</div>
                      <div class="card-body">
                        <div class="card-item-image">
                          <img src="../../../assets/images/quiz-img-test.jfif" style="margin-bottom: 0.5rem;">
                        </div>
                        <div class = "card-content">
                          <h5 class="card-title">Success card title</h5>
                          <hr>
                          <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore provident vero, voluptatibus numquam iusto magni accusantium dolores eum placeat in consequuntur beatae, ea sapiente alias incidunt saepe velit odit est.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card quiz-card-item text-white bg-danger col-3" style="max-width: 18rem;">
                      <div class="card-header">Header</div>
                      <div class="card-body">
                        <div class="card-item-image">
                          <img src="../../../assets/images/quiz-img-test.jfif" style="margin-bottom: 0.5rem;">
                        </div>
                        <div class = "card-content">
                          <h5 class="card-title">Danger card title</h5>
                          <hr>
                          <p class="card-text">Some quick example text to build on the card lorem ipsum fajasfjasfd  dsfasfdsfsdf title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!---->
            </div>
          </div>
        </div>
        <!-- <script src=".assets/8031b5b.js.tải xuống" nonce=""> -->

          <!-- </script> -->
          <!-- <script src=".assets/57ec0ba.js.tải xuống" nonce=""> -->
            <!-- </script>
              <script src=".assets/8f7c8a8.js.tải xuống" nonce="">
              </script>
              <script src=".assets/b0bc513.js.tải xuống" nonce="">
              </script> -->
              <!-- <script src="script.js" nonce = ""></script> -->
              <!-- for jsFile in serverData.asyncJsFiles-->
              <!--   script(src="#{serverData.cdnPrefix}#{jsFile}")-->
              <!---->
            </div>
          </div>
        </div>
