<div id="__nuxt">
  <div id="__layout">
    <div class="flex flex-col font-sans">
      <div class="fixed left-0 bottom-0 z-102 flex flex-col">
        <div class="flex flex-col">
        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <a aria-label="Skip to main content" href="https://quizizz.com/admin#app-body-container" class="skip-link">
        <span class="_i18n-container">Chuyển đến nội dung</span>
      </a>
      <div class="flex flex-grow h-screen">
        <app-sidebar></app-sidebar>
        <div class="flex flex-col flex-grow w-full h-screen overflow-hidden border-l border-light-1">
          <app-header></app-header>
          <div id="app-body-container" class="flex flex-grow overflow-auto bg-light-1 content overflow-auto">
            <div data-v-470c518d="" class="w-full">
              <div data-v-470c518d="" class="w-full">
                <div class = "card">
                  <div class="card-body">  
                    <div style="margin:2em">
                      Điểm số của bạn là: {{score}}
                      
                      <!-- test -->
                      <div *ngFor = "let question of questions|async;let i = index">
                        <div class = "answer-true main-question p-3"
                        *ngIf = "answerResponses[i].true === true">
                        Question {{i+1}}. {{question.questionContent}}
                        <br>
                        <div *ngIf = "question.questionType === 'single-choice'">
                          <div  *ngFor = "let answer of question.answers">
                            <input disabled type ="radio" id="{{answer.answerId}}"
                            name="{{question.questionId}}" value="{{answer.answerId}}"
                            [checked]="isAnswerSelected(answer.answerId)">
                              <label for="{{answer.answerId}}">{{answer.answerContent}}
                              <span class="check" *ngIf = "isAnswerCorrect(answer.answerId)"></span>
                            </label><br>
                            
                          </div>
                        </div>
                        <div *ngIf = "question.questionType === 'multiple-choice'">
                          <div *ngFor = "let answer of question.answers">
                            <input disabled type="checkbox" [checked]="isAnswerSelected(answer.answerId)"
                            id="{{answer.answerId}}" name="answerId" value="{{answer.answerId}}">
                            <label for="{{answer.answerId}}"> {{answer.answerContent}}
                              <span class="check" *ngIf = "isAnswerCorrect(answer.answerId)"></span>
                            </label><br>
                          </div>
                        </div>
                      </div>
                      <div class = "answer-false main-question p-3" *ngIf = "answerResponses[i].true === false">
                        Question {{i+1}}. {{question.questionContent}}
                        <br>
                        <div *ngIf = "question.questionType === 'single-choice'">
                          <div  *ngFor = "let answer of question.answers">
                            <div class="form-check">
                              <input type ="radio" class="form-check-input" id="{{answer.answerId}}"
                              name="{{question.questionId}}" value="{{answer.answerId}}"
                              [checked]="isAnswerSelected(answer.answerId)">
                                <label for="{{answer.answerId}}" class="form-check-label">{{answer.answerContent}}
                                <span class="check ml-2" *ngIf = "isAnswerCorrect(answer.answerId)"></span>
                              </label><br>
                            </div>
                          </div>
                        </div>
                        <div *ngIf = "question.questionType === 'multiple-choice'">
                          <div *ngFor = "let answer of question.answers">
                            <div class="form-check">
                              <input type="checkbox" [checked]="isAnswerSelected(answer.answerId)" class="form-check-input"
                              id="{{answer.answerId}}" name="answerId" value="{{answer.answerId}}">
                              <label for="{{answer.answerId}}" class="form-check-label"> {{answer.answerContent}}
                                <span class="check ml-2" *ngIf = "isAnswerCorrect(answer.answerId)"></span>
                              </label><br>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- <button (click) = "submitForm()">Hoan thanh quiz</button> -->
                      <!-- form add -->
                      
                      <!-- end test -->
                    </div>
                    
                  </div>
                  <button class="btn btn-primary" style="margin-left:2em">Về trang chủ</button>
                  
                </div>
              </div>
              <!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  