.main-question{
  margin-bottom: 2em;
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 20px;
  width: 10px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
