
<div id="__nuxt">
  <div id="__layout">
    <div class="flex flex-col font-sans">
      <div class="fixed left-0 bottom-0 z-102 flex flex-col">
        <div class="flex flex-col">
        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <a aria-label="Skip to main content" href="https://quizizz.com/admin#app-body-container" class="skip-link">
        <span class="_i18n-container">Chuyển đến nội dung</span>
      </a>
      <div class="flex flex-grow h-screen">
        <app-sidebar></app-sidebar>
        <div class="flex flex-col flex-grow w-full h-screen overflow-hidden border-l border-light-1">
          <app-header></app-header>
          <div id="app-body-container" class="flex flex-grow overflow-auto bg-light-1 content overflow-auto">
            <div data-v-470c518d="" class="w-full">
              <div data-v-470c518d="" class="w-full">
                <ngb-carousel #myCarousel>
                  <ng-template ngbSlide *ngFor = "let question of questions; let i = index">
                <app-quiz-question
                [question] = question [index] = i (out) = updateAnswer($event)>
                </app-quiz-question>
              </ng-template>
                </ngb-carousel>
                <button class = "btn btn-primary" style = "margin-left: 12em ;" (click) = "submit()">Submit</button>
                          </div>
                          <!---->
                        </div>
                      </div>
                    </div>
                    <!-- <script src=".assets/8031b5b.js.tải xuống" nonce=""> -->

                      <!-- </script> -->
                      <!-- <script src=".assets/57ec0ba.js.tải xuống" nonce=""> -->
                        <!-- </script>
                          <script src=".assets/8f7c8a8.js.tải xuống" nonce="">
                          </script>
                          <script src=".assets/b0bc513.js.tải xuống" nonce="">
                          </script> -->
                          <!-- <script src="script.js" nonce = ""></script> -->
                          <!-- for jsFile in serverData.asyncJsFiles-->
                          <!--   script(src="#{serverData.cdnPrefix}#{jsFile}")-->
                          <!---->
                        </div>
                      </div>
                    </div>

