.title{
  margin-top:7.5rem;
  margin-left:1.5rem;
}
.quiz-card-row{
  display: flex;
}
.quiz-card-item{
  margin-left: 1.5rem;
  width:calc(25% - 1.5rem);
  /* width:10px */
}
.card-content{
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  flex:1;
}
.card-body{
  flex-grow:1;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.card-item-image{
  flex-shrink: 0;
}
.card-title, .card-text{
    display: -webkit-box;
    /* text-overflow: ellipsis; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-title{
  flex:1;
}
.card-text{
  margin-top: auto;
  flex-shrink: 0;
}
