<div id="__nuxt">
  <div id="__layout">
    <div class="flex flex-col font-sans">
      <div class="fixed left-0 bottom-0 z-102 flex flex-col">
        <div class="flex flex-col">
        </div>
      </div>
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <a aria-label="Skip to main content" href="https://quizizz.com/admin#app-body-container" class="skip-link">
        <span class="_i18n-container">Chuyển đến nội dung</span>
      </a>
      <div class="flex flex-grow h-screen">
        <app-sidebar></app-sidebar>
        <div class="flex flex-col flex-grow w-full h-screen overflow-hidden border-l border-light-1">
          <app-header></app-header>
          <div id="app-body-container" class="flex flex-grow overflow-auto bg-light-1 content overflow-auto">
            <div data-v-470c518d="" class="w-full">
              <div data-v-470c518d="" class="w-full" style="margin:50px 50px 0 50px">
                <div class="reactive-form">
                <form [formGroup] = "examForm">
                  <div class="form-group">
                    <label for="quizName">Exam name</label>
                    <input type="text" class="form-control" id="examName" placeholder="Enter exam name"
                    formControlName="examName">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <!-- cate -->

                  <div class="form-group">
                    <label for="descriptions">Descriptions</label>
                    <input type="text" class="form-control" id="descriptions" placeholder="descriptions"
                    formControlName="descriptions">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <br>
                  <div formGroupName = "quiz">
                  Choose quiz:
                  <select class="custom-select mr-sm-2" id="quizId"
                  style="margin-top:0.5em; margin-bottom: 1em;" formControlName = "quizId">
                    <option selected>Choose...</option>
                    <option *ngFor = "let quiz of quizzes|async" value={{quiz.quizId}}>
                      {{quiz.quizName}}
                    </option>
                  </select>
                </div>
                  <br>
                  <button type="submit" class="btn btn-primary" (click) = "submit($event)">Submit</button>
                </form>
              </div>
              </div>
              <!---->
            </div>
          </div>
        </div>
        <!-- <script src=".assets/8031b5b.js.tải xuống" nonce=""> -->

          <!-- </script> -->
          <!-- <script src=".assets/57ec0ba.js.tải xuống" nonce=""> -->
            <!-- </script>
              <script src=".assets/8f7c8a8.js.tải xuống" nonce="">
              </script>
              <script src=".assets/b0bc513.js.tải xuống" nonce="">
              </script> -->
              <!-- <script src="script.js" nonce = ""></script> -->
              <!-- for jsFile in serverData.asyncJsFiles-->
              <!--   script(src="#{serverData.cdnPrefix}#{jsFile}")-->
              <!---->
            </div>
          </div>
        </div>
